#color-1{
    background-color: #040d12;
}

#color-2{
    background-color: #183d3d;
}

#color-3{
    background-color: #5c8374;
}

#color-4{
    background-color: #93b1a6;
}

.nav-item{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}